:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 250, 250, 250;
  --textarea-background: #ffffff;
  --textarea-text: #000000;
  --input-background: #f0f0f0;
  --input-text: #000000;
  --button-background: #007bff;
  --button-hover-background: #0056b3;
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.dark-mode {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 20, 20, 20;
  --textarea-background: #2c2c2c;
  --textarea-text: #ffffff;
  --input-background: #333333;
  --input-text: #ffffff;
  --button-background: #4a4a4a;
  --button-hover-background: #5a5a5a;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  transition: background-color 0.3s, color 0.3s;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.map-container {
  width: 100%;
  height: 500px;
  margin-top: 1rem;
}

.map-tiles {
  transition: filter 0.3s;
}

@media (prefers-color-scheme: dark) {
  .map-tiles {
    filter: var(--map-tiles-filter);
  }
}